<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css">
  <link rel="stylesheet" href="/styles/custom.css">
  <title>PayPal Checkout Integrations</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>PayPal Checkout Integrations</h1>
    </header>

    <section class="description content">
      <h2>Intention</h2>
      <p>To demonstrate various integration methods, highlighting best practices under specific checkout scenarios.</p>
    </section>

    <section class="apis content">
      <h2>Tools Used</h2>
        <a href="https://developer.paypal.com/sdk/js/">JavaScript SDK</a>
          <ul>
            <li>Renders payment buttons, card form fields, pay later messaging, and more.</li>
            <li>Also used to check the funding-eligibility of a given payment method.</li>
          </ul>
        <a href="https://developer.paypal.com/docs/api/orders/v2/">Orders API</a> aka Orders v2
          <ul>
            <li>Used to create, update, retrieve, authorize, and capture orders.</li>
          </ul>
        <a href="https://developer.paypal.com/docs/api/payment-tokens/v3/">Payment Method Tokens API</a> aka Vault v3
          <ul>
            <li>Saves payment methods so payers don't have to enter details for future transactions.</li>
            <li>The API associates a payment method with a temporary setup token. Pass the setup token to the API to exchange the setup token for a permanent token.</li>
            <li>The permanent token represents a payment method that has been saved to the merchant's PayPal vault.</li>
            <li>This token can be used repeatedly for returning checkout or recurring transactions such as recurring payments.</li>
        </ul>
    </section>

    <section class="checkout content">
      <h2>Best Practices</h2>
        <h3>One-Time Payments</h3>
          <a href="/one-time-payments-cart">Product/Cart Page</a> (Client-side callback)
          <ul>
            <li>Shipping Address and Shipping Option received from PayPal via client-side callback.</li>
            <li>Venmo is not available when utilizing client-side shipping callbacks</li>
          </ul>
          <a href="/one-time-payments-cart-ql">Product/Cart Page</a> (Server-side callback)
          <ul>
            <li>Server-side callback is preferred when integrating via native mobile applications.</li>
            <li>NOTE: You will need to publicly expose any server-side callback URL you wish to utilize.</li>
          </ul>
          <a href="/one-time-payments-checkout">Checkout Page</a>
          <ul>
            <li>Shipping Address collected on checkout is included in create order call and thus rendered in PayPal window.</li>
            <li>By setting the shipping_preference to 'SET_PROVIDED', customer must return to checkout page in order to change shipping address and options.</li>
          </ul>
          <h3>References</h3>
            <a href="https://developer.paypal.com/docs/checkout/standard/best-practices/one-time/">One-Time Payments Best Practices</a>
      <h2>Advanced Checkout Examples</h2>

          <a href="/checkout">Save with Purchase</a>
          <ul>
            <li>Customers have their payment method vaulted upon successful purchase via Payment Method Token API.</li>
            <li>A returning customer's Customer ID is exchanged for a User ID Token via the OAuth 2.0 API. This user ID token is passed to JS SDK to load saved payment methods.</li>
          </ul>
          <a href="/save-wo-purchase">Save without Purchase</a>
          <ul>
            <li>Both PayPal and Card payment methods are vaulted for future payment.</li>
            <li>Setup Token is exchanged for a Permanent Payment Token via the Payment Method Token API.</li>
            <li>Card payment methods verified at time of request Setup Token.</li>
          </ul>

    </section>
  </div>
</body>
</html>
