<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/custom.css" />
    <title>One-Time Payments - Product/Cart Page</title>
  </head>

  <body>
    <div class="container">
      <section>
        <div class="or-text">One-Time Payments - Product/Cart Page</div>
        <p>Cart Total: $<span id="cart-total">50</span></p> <label style="font-size: 0.5em;">
            <input type="checkbox" id="change-total-checkbox"> Change Cart Total
          </label>
          <input type="number" id="new-total-input" style="display: none;" placeholder="Enter new cart total">
        <p>Shipping: $<span id="shipping-amount">0.00</span></p>
        <h2>Total: $<span id="amount-total">50</span>
          
        </h2>
        
        <div
        data-pp-message
        data-pp-style-layout="text"
        data-pp-style-logo-type="inline"
        data-pp-style-text-color="black"
        data-pp-style-text-size="12"
        data-pp-amount="50"
        data-pp-placement="cart">
      </div>
        <div class="separator"></div>
        <div id="order-info-section" style="display: none;">
            <div class="separator"></div>
          <div id="create-order-info"></div>
        </div>
        <div id="capture-info-section" style="display: none;">
            <div class="separator"></div>
          <div id="capture-order-info"></div>
        </div>
        <div id="payment-source-section" style="display: none;">
            <div class="separator"></div>
            <div id="payment-source-type-info"></div>
          <div id="vault-payment-info"></div>
          <div id="vault-status-info"></div>
          <div id="customer-id-info"></div>
          <div id="payment-token-id-info"></div>
          <p>Check Console Log full API Response</p>
        </div>
        <!-- <div id="saved-payment-methods-container"></div> -->
        <!-- <div class="separator"></div> -->
        <div id="paypal-button-container" class="paypal-button-container"></div>
      </section>
      
    </div>
    <script>
      const clientId = '<%= clientId %>';
    </script>
    <script src="/one-time-payments-cart-ql.js"></script>
  </body>
</html>