<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/custom.css" />
    <title>One-Time Payments - Product/Cart Page</title>
  </head>

  <body>
    <div class="container">
      <section>
        <div class="or-text">One-Time Payments - Product/Cart Page</div>
        <div id="paypal-button-container" class="paypal-button-container"></div>
      </section>
      
    </div>
    <script>
      const clientId = '<%= clientId %>';
    </script>
    <script src="/ql-test.js"></script>
  </body>
</html>