<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/custom.css" />
    <title>Returning User</title>
  </head>

  <body>
    <h2>Order ID</h2>
      <div id="create-order-info"></div>
      <h2>Payment Source in Capture Response</h2>
      <div id="create-payment-info"></div>
    <div class="container">
      <section>
        <form id="customer-id-form">
          <label for="customer-id">Enter Customer ID:</label>
          <input type="text" id="customer-id" name="customer-id" required />
          <button type="submit">Submit</button>
        </form>
        <div class="or-text">RETURNING USER</div>
        <div class="separator"></div>
        <div id="paypal-button-container" class="paypal-button-container"></div>
        <div class="separator"></div>
        <div class="card-fields">
          <div id="card-name-field-container"></div>
          <div id="card-number-field-container"></div>
          <div id="card-expiry-field-container"></div>
          <div id="card-cvv-field-container"></div>
          <button id="multi-card-field-button" type="button">Checkout</button>
        </div>
      </section>
      <div id="paypal-buttons-container"></div>
    </div>
    <script>
      const clientId = '<%= clientId %>';
    </script>
    <script src="/returning-user.js"></script>
  </body>
</html>