body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* width: 80%; */
  border: 1px solid #ccc;
  /* align-items: center; */
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
}

header p {
  font-size: 1.2em;
  color: #666;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 1.8em;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

section p {
  font-size: 1em;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  font-size: 1.2em;
  color: #0070ba;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

ul li p {
  margin: 5px 0 0 20px;
  font-size: 0.9em;
  color: #666;
}

/* .card-fields {
  max-width: 400px;
  min-width: 300px;
  margin: 0 auto;
} */

.separator {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.or-text {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 0;
}

.vault-checkbox {
  padding: 10px 0;
}

.paypal-button-container {
  /* ...existing code... */
}

#multi-card-field-button {
  background-color: #0070ba;
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

#multi-card-field-button:hover {
  background-color: #005ea6;
}

.shipping-info {
  margin-bottom: 20px;
}

.shipping-info h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.shipping-info label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.shipping-info input[type='text'],
.shipping-info input[type='email'] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.shipping-info input[type='text']:focus,
.shipping-info input[type='email']:focus {
  border-color: #0070ba;
  outline: none;
}

.shipping-info input[type='text']::placeholder,
.shipping-info input[type='email']::placeholder {
  color: #999;
}
